:root {
--primary-color: white;
--navy-blue: #2e2f42; 
--second-family: "Raleway";
--iris:#4D5AE5;
--ocean:#404BBF;
--cloud: #f4f4fd;
--transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
--color-transition: #4D5AE5;
--text-transition: #F4F4FD;
}

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    margin: 0;
}

header {
    display: flex; 
    border-bottom: 1px solid #e7e9fc;

}

.web {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--iris);
}

.studio {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--navy-blue);
}

header ul {
    margin-right: 268px;
    margin-left: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 24px;
    gap: 30px;
    padding-left: 0px;
    display: none;
}

.header-contacts {
    display: none;
}

nav li a {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
}

nav li a:hover,
nav li:active {
    color: var(--ocean);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
}
 
.header-container .email {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
    margin-right: 30px;
}

.email:hover {
    color: var(--ocean);
}

.phone {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #434455;
}

.phone:hover {
    color: var(--ocean);
}

/* main page */

.hero-section {
    display: flex;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    height: auto;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.7)), url("../images/image-background.png");
    background-size: auto 100%;
    background-position: center top;
}

.hero-section h1 {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin-top: 112px;
    margin-bottom: 62px;
}

.hero-section button {
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.04em;
    color: #ffffff;
    background: var(--iris);
    width: 169px;
    height: 56px;
    margin-bottom: 112px;
}

.hero-section button:hover {
    background: var(--ocean);
}

.section-1 h2 {
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    text-align: center;
    margin-top: 0;
    margin-bottom: 8px;
}

.section-1 p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin: 0;
}

.section-2 {
    display: none;
    width: 0;
    height: 0;
}

.section-2 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
    margin-top: 0;
} 

.section-2 ul {
    gap: 12px;
    padding: 0;
    margin: 0;
}

.section-2 img {
    width: 360px;
    margin-bottom: 120px;
}

.section-3 {
    background: var(--cloud);
}

.section-3 h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: var(--navy-blue);
    margin-bottom: 72px;
    margin-top: 0;
}

.section-3 h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}

.section-3 p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;

}

.section-3 ul {
    display: flex;
    flex-direction: column;
    gap: 72px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
}

.images-row {
    gap: 72px;
    display: flex;
    flex-direction: column;
}

.section-3 li {
    background-color: #ffffff;
    width: 264px;
    box-shadow: 0px 2px 1px 0 #2E2F4214;
}

.section-3 li img {
    max-width: 100%;
    display: block;
    height: auto;
}


footer {
    background: var(--navy-blue);
}

.address {
   position: relative;
   padding-bottom: 32px;
}

.address a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-style: normal;
}

footer p {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--cloud);
    font-style: normal;
    padding-top: 16px;
}

.studio-footer {
    font-family: var(--second-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--cloud);
}

.social {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.social h2 {
    text-align: center;
}


/* Portfoliu page*/

.button {
    background-color: #f4f4fd;
    border: 1px solid var(--cornflower);
    border-radius: 4px;
    padding: 12px 24px;
    color: #404BBF;
    text-align: center;
    display: block-inline;
    font-size: 16px;
    cursor: pointer;
 
}
.filters-button {
    gap: 24px;
    justify-content: center;
    display: flex;
}

.button:active,
.button:hover,
.button:focus {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
    background: #404BBF;
    color: #ffffff;
}



.main h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
    font-family: "Roboto", sans-serif;
    margin: 0px;
    padding-top: 32px;
}

.main p {
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.list-item li:hover {
    box-shadow: 0px 0px 10px #25263314;
}

/* Tema 3 */

.container {
    max-width: 1200px;
    margin: 0px;
    justify-content: center;
    display: flex;
    
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container {
    display: flex;
    padding-left: 16px;
    width: 100%;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 24px;
    justify-content: space-between;
    padding-right: 16px;
}

.container-1{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.container-2{
    justify-content: center;
}

.container-3 {
    display: block;
    padding: 96px 0;
}

.footer-container {
    padding-top: 100px;
    gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Portfoliu page */

.filters-container {
    display: flex;
    justify-content: center;
}

.filters-container ul {
   gap: 24px;
}

.section {
    padding-top: 94px;
    display: flex;
    justify-content: center;
}

.row-3 {
    padding-bottom: 94px;
}

.list-item {
    gap: 24px;
}

.description {
    padding: 0px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.footers {
    padding-left: calc(50% - 40%);
}
 
.icon-area {
    background-color: #F4F4FD;
    display: none;
    justify-content: center;
    align-items: center;
    height: 112px;
}

.icon-area svg {
    width: 64px;
    height: 64px;
}

.description-1 ul {
    gap: 72px;
    display: flex;
    flex-direction: column;
    padding-left: 0em;
    margin-top: 96px;
    margin-bottom: 0px;
    padding-right: 0em;
    width: 100%;
}

.description-2 ul {
    gap: 45px;
    display: flex;
    flex-direction: column;
    padding-left: 0em;
    margin-top: 72px;
    margin-bottom: 96px;
    padding-right: 0em;
    width: 100%;
}

.icon svg {
    width: 16px;
    height: 16px;
    color: #f4f4fd;
}

.icons-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.icons-list .icon {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 32px;
}

.icons-list .icon:hover {
    background: #31d0aa;
}

.social h2 {
    color: #ffffff;
    margin-top: 0px;
    height: 24px;
    font-weight: 500;
}

.section-4 .icons-row svg {
    width: 104px;
    height: 56px;
    color: #8E8F99;
}

.icons-row {
    
    display: flex;
    justify-content: center;
    margin-top: 72px;
}

.section-4 {
    padding: 96px 16px 24px 16px;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.section-4 h2 {
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    line-height: 111%;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin: 0;
}

.section-4 ul {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

.section-4 ul > :nth-child(1),
.section-4 ul > :nth-child(3),
.section-4 ul > :nth-child(5) {
    margin-right: 16px;
}


.section-4 li {
    width: 45%;
    height: 5.5em;
    margin-left: 0px;
    margin-right: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% ;
    border: 2px solid #8E8F99;
    margin-bottom: 72px;
}

.is-hidden {
    visibility: hidden;
    transform: scale(1.1);
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(46, 47, 66, 0.4);;
    transition: transform var(--transition);
}

.modal-content {
    padding: 16px;
    background-color: #fcfcfc;
    width: 70%;
    position: relative;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
    border-radius: 4px;
}

.close-btn {
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px ;
    color: #fff;
    outline: none;
    position: absolute;
    top: 24px;
    right: 24px;
    height: 24px;
    width: 24px;
    color: rgba(0, 0, 0, 0.9);
}

.close-btn:active {
    background-color: var(--iris);
    color: #ffffff;
}

.modal-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
    margin-top: 50px;
    margin-bottom: 10px;
    
}

.form-section {
    margin-top: 16px;
    margin-right: 6.5px;
    margin-left: 6.5px;
}

.form-section input[type=text],
.form-section input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding-left: 30px;
}

label {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: var(--light-slate);
    position: relative;
}

.comment-area {
    height: 100px;
    text-align: left;
    width: 96.5%; 
    margin-top: 8px;
    margin-bottom: 16px;
    padding-left: 8px;
    padding-top: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-area:focus {
    outline: none;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
}

.menu-page::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: var(--ocean);
    margin-top: 21px;
    display: block;
}

.portfolio-page::after {
    content: "";
    border-radius: 2px;
    width: 100%;
    height: 4px;
    background: var(--ocean);
    margin-top: 21px;
    display: block;
}

.overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    height:100%;
    width: 100%;
    position: absolute;
    background-color: var(--color-transition);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 1;
}
  
.img-overlay {
    position: relative;
    overflow: hidden;
    height: 300px;
    
}
  
.portfolio-cards:hover .overlay {
    transform: translateY(0px);
    box-shadow: 0px 2px 1px 0px #2E2F4214;
    box-shadow: 0px 1px 1px 0px #2E2F4229;
    box-shadow: 0px 1px 6px 0px #2E2F4214;
    
}

.overlay-text {
    padding: 40px 32px 164px 32px;
    color: var(--text-transition);
}



.description{
    margin-top: 0;
    height: 109px;
}

.name-svg {
    width: 22px;
    height: 22px;
    position: absolute;
    left: 7px;
    top: 33px;
    margin-right: 5px;
}

.form input[type=text]:focus,
input[type=tel]:focus {
    outline: none;
    border: 1px solid #4D5AE5;
}

.form input[type=text]:focus + .name-svg,
input[type=tel]:focus + .name-svg {
    fill: #4d5ae5;
}

.form input[type=submit] {
    width: 169px;
    height: 56px;
    border-radius: 4px;
    background-color: #4D5AE5;
    color: #ffffff;
    border: transparent;
    margin-top: 15px;
    
}

input[type=submit]:hover,
input[type=submit]:active,
input[type=submit]:focus {
    box-shadow: 0px 4px 4px 0px #00000026;
}

.submit-section {
    display: flex;
    justify-content: center;
}

.conditions {
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-right: 3px;
}

.privacy-policy {
    line-height: 133%;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: var(--iris);
}

.subscribe-title {
    margin-top: 0px;
    color: #ffffff;
    font-weight: 500;
    margin-bottom: 16px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.subscribe {
    display: flex;
    flex-direction: column;
    width: 90%;
    
}

.subscribe input {
    height: 40px;
    background: transparent;
    color:white;
    margin-top: 40px;
    margin-bottom: 16px;
    width: 100%;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.subscribe input[type=submit] {
    width: 165px;
    background-color: var(--iris);
    color: white;
    text-align: center;
    align-items: center;
    display: flex;
    padding-top: 0;
    border: none;
    border-radius: 4px;
    margin-top: 0;
    padding-bottom: 0;
    padding-right: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    font-weight: 500;
    font-size: 16px;
    padding-left: 25px;
}

.subscribe-information {
    position: relative;
}


.agree-check {
    display: flex;
    align-items: center;
}

.agree-check .checkmark {
    appearance: none;
}

.agree-check .icon-svg {
    width: 16px;
    height: 16px;
    margin-right: 7px;
    fill: none;
    border: 1px solid #2E2F4266;
    border-radius: 2px;
    transition: border-color 250ms cubic-bezier(0.4, 0,0.2, 1), 
    background-color 250ms cubic-bezier(0.4, 0,0.2, 1),
    fill 250ms cubic-bezier(0.4, 0,0.2, 1);
}

.agree-check .checkmark:focus + .icon-svg,
.agree-check .checkmark:checked:focus + .icon-svg {
    outline: 1px solid #404BBF;
    
}
    

.agree-check .checkmark:checked + .icon-svg {
    background-color: #fff;
    width: 18px;
    height: 18px;
    border: none;
    fill: #404BBF;
    outline: none;
    stroke: #fff;
    stroke-width: 0.2;
}

input:valid {
    border-color: #4caf50;
}

.subscribe-button svg {
    width: 24px;
    height: 24px;
    margin-top: 10px;
    margin-left: 10em;
    z-index: 1;
    position: relative ;
    left: -35px;
}

.subscribe-button {
    display: flex;
    position: relative;
    padding-bottom: 98px;
    justify-content: center;

}

/* Tema 7 */

.js-menu-container {
    display: flex;
    flex-direction: column;
    top: 0;
    background-color: white;
    z-index: 1;
    padding-left: 40px;
    padding-bottom: 155px;
    height: 100%;
    width: 100%;
}

.mobile-menu-navigation ul {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    padding: 0;
    margin-top: 5em;
}

.mobile-menu-navigation li a {
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;
}

.mobile-menu-navigation li a:not(.mobile-menu-studio) {
    color: #2E2F42;
}

.mobile-menu-navigation li a:not(.mobile-menu-studio):hover {
    color: var(--ocean);
}

.mobile-menu-studio {
    color: var(--ocean);
}

.menu-toggle.js-close-menu {
    outline: none;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 24px;
    opacity: 0px;
    right: 24px;
    border-radius: 50%;
    border: 1px solid #E7E9FC;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.menu-toggle.js-close-menu svg {
    width: 8px;
    height: 8px;
}

.mobile-menu-contacts {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 48px;
    margin-top: 284px;
}

.mobile-menu-contacts .phone {
    color: var(--iris);
    font-size: 36px;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.02em;
    text-align: left;

}

.mobile-menu-contacts .email {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: #434455;
}

.mobile-menu-socials {
    display: flex;
    gap: 56px;
}

.mobile-menu-socials .icon {
    width: 40px;
    height: 40px;
    background: #4d5ae5;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-menu-socials .icon svg {
    width: 24px;
    height: 24px;
}

.mobile-menu-socials .icon:hover {
    background: #31d0aa;
}

.header-container svg {
    width: 32px;
    height: 22px;
    
    stroke: #2E2F42;
}

.menu-section {
    position: relative;
    display: none;
    
}

.show {
    display: flex;
    position: fixed;
    height: 100%;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 999;
}

/* Stilizare tableta si device-uri peste 768px */

@media screen and (min-width:768px) {
    .header-contacts {
        display: flex;
        flex-direction: column;
        gap: 12px;
        margin-top: -8px;
    }

    .header-container .email {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
        margin-right: 0;
    }

    .phone {
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 0.04em;
    }


    header ul {
        display: flex;
        flex-direction: row;
        margin-left: 7.5em;
        margin-right: 7.5em;
    }

    .burger-menu {
        display: none;
    }

    .hero-section {
        background-size: cover;
        background-position: 1% 50%;
    }

    .container-1 ul {
        flex-direction: row;

    }

    .section-3 ul {
        flex-direction: column;
        margin: 0; 
        display: flex;
        gap: 64px;
    }

    .images-row {
        display: flex;
        gap: 24px;
        flex-direction: row;
    }


    .section-4 li {
        width: 30%;
        
    }

    .section-4 ul > :nth-child(1),
    .section-4 ul > :nth-child(2),
    .section-4 ul > :nth-child(4),
    .section-4 ul > :nth-child(5) {
        margin-right: 16px;
    }

    .footer-container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .address {
        margin-right: 85px;
        margin-left: -118px;
        position: relative;
        padding-bottom: 72px;
    }

    .address a {
        margin-left: -69px;
    }

    .social h2 {
        position: relative;
        margin-left: -65px;
    }

    .social {
        margin-top: -38px;
    }

    .subscribe {
        flex-direction: row;
        padding-right: 170px;
        width: auto;
        padding-bottom: 90px;
    }

    .subscribe-information {
        margin-right: 150px;
    }

    .subscribe-button {
        height: 40px;
        margin-top: 40px;
        padding-bottom: 0px;
    }

    .subscribe-title {
        left: 28%;
    }

    .subscribe input {
        width: 16.5em;
    }

    .modal-content {
        width: 50%;
        margin-top: -270px;
    }
}

@media screen and (min-width:1158px) {
    .header-contacts {
        flex-direction: row;
        margin-top: 0;
        gap: 40px;
    }

    header {
        justify-content: center;
    }

    .header-container {
        width: auto;
    }

    .header-container .email {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    .phone {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
    }

    header ul {
        margin-left: 76px;
        margin-right: 332px;
    }

    .hero-section {
        height: 600px;
    }

    .hero-section h1 {
        font-weight: 700;
        font-size: 56px;
        line-height: 60px;
        margin-bottom: 48px;
    }

    .section-1 {
        display: flex;
        justify-content: center;
        margin-top: 120px;
    }

    .container-1 {
        flex-direction: row;
        gap: 24px;
        padding-left: 0;
        padding-right: 0;
    }

    .icon-area {
        display: flex;
    }

    .description-1 ul {
        gap: 24px;
        margin-top: 0;
        width: auto;
    }
    .description-2 ul {
        gap: 24px;
        margin-top: 0;
        width: auto;
    }

    .description-1 li {
        width: 264px;
    }

    .description-2 li {
        width: 264px;
    }

    .section-2 {
        display: flex;
        height: auto;
        width: auto;
        justify-content: center;
    }

    .section-3 ul {
        flex-direction: row;
        gap: 24px;
    }

    .container-3 {
        padding: 120px 0;
    }

    .section-4 {
        padding: 120px 0;
    }

    .section-4 ul {
        flex-wrap: nowrap;
        gap: 22px;
    }

    .section-4 li {
        width: 166px;
    }

    .section-4 ul > :nth-child(1),
    .section-4 ul > :nth-child(2),
    .section-4 ul > :nth-child(4),
    .section-4 ul > :nth-child(5) {
        margin-right: 0;
    }

    .section-4 ul > :nth-child(1),
    .section-4 ul > :nth-child(3),
    .section-4 ul > :nth-child(5) {
        margin-right: 0;
    }

    .icons-row {
        display: flex;
        justify-content: center;
    }

    .footer-container {
        gap: 80px;
    }

    .address {
        margin-left: 0;
        margin-right: 40px;
    }

    .social {
        margin-top: -76px;
    }

    .subscribe {
        padding-right: 0;
    }

    .subscribe-information {
        margin-right: 22px;
    }

    .subscribe input {
        width: 246px;
    }

}


 








